.container {
  max-width: 1440rem;
  padding-left: 105rem;
  padding-right: 105rem;
  margin: 0 auto;
}

@media (max-width: $width-desktop - 1) {
  .container {
    width: 768rem;
    padding-left: 49rem;
    padding-right: 49rem;
    margin: 0 auto;
  }
}

@media (max-width: $width-tablet - 1) {
  .container {
    width: 320rem;
    padding-left: 20rem;
    padding-right: 20rem;
    margin: 0 auto;
  }
}
