.form {
  display: flex;
  align-items: center;
  margin-bottom: 30rem;
}

.form__label {
  width: 100%;
}

.form__input {
  font-family: $font-default;
  font-size: 16rem;
  font-weight: 400;
  font-style: inherit;
  line-height: 1.5;
  color: $text-additional;
  background: none;
  border: none;
  width: 100%;
  height: 40rem;
  border-bottom: 1rem solid rgba($color: $text-additional, $alpha: 0.4);
}

.form__input::placeholder {
  color: $text-additional;
}

.form__button {
  min-width: 40rem;
  max-width: 40rem;
  height: 40rem;
  border: none;
  border-radius: 50%;
  padding: 0;
  margin-left: 7rem;
  cursor: pointer;
}

.form__button-icon {
  width: 100%;
  height: 100%;
}

.form__button-icon:hover rect,
.form__button-icon:focus rect {
  fill: #32bdf2;
}

.form__button-icon:active rect {
  fill: #008abf;
}

@media (max-width: $width-tablet - 1) {
  .form__input {
    font-size: 14rem;
    line-height: 1.71;
  }
}
