.header__wrapper {
  background: url("../img/promo-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: 100% 94rem;
  height: 574rem;
  position: relative;
  background-size: 850rem 100%;
}

@media (min-resolution: $retina-dppx),
(min-resolution: $retina-dpi) {
  .header__wrapper {
    background: url("../img/promo-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-position: 100% 94rem;
    height: 574rem;
    position: relative;
    background-size: 850rem 100%;
  }
}

.header__top {
  display: flex;
  align-items: flex-start;
  padding-top: 25rem;
}

@media (max-width: $width-desktop - 1) {
  .header__wrapper {
    background: url("../img/promo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 100% 68rem;
    height: 399rem;
    background-size: 428rem 100%;
  }

  @media (min-resolution: $retina-dppx),
  (min-resolution: $retina-dpi) {
    .header__wrapper {
      background: url("../img/promo-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-position: 100% 68rem;
      height: 399rem;
      background-size: 428rem 100%;
    }
  }

  .header__top {
    display: flex;
    align-items: flex-start;
    padding-top: 10rem;
  }
}

@media (max-width: $width-tablet - 1) {
  .header__wrapper {
    background: url("../img/promo-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: contain;
    height: 448rem;
    background-size: contain;
  }

  @media (min-resolution: $retina-dppx),
  (min-resolution: $retina-dpi) {
    .header__wrapper {
      background: url("../img/promo-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-position: 50% 100%;
      background-size: contain;
      height: 448rem;
      background-size: contain;
    }
  }

  .header__top {
    margin-bottom: 22rem;
  }
}
