.header {
  position: relative;
}

.header__wrapper {
  height: 574rem;
}

.header__background {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 915rem;
}

.header__top {
  display: flex;
  align-items: flex-start;
  padding-top: 25rem;
}

@media (max-width: $width-desktop - 1) {
  .header__wrapper {
    height: 399rem;
  }

  .header__background {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 428rem;
  }

  .header__top {
    display: flex;
    align-items: flex-start;
    padding-top: 10rem;
  }
}

@media (max-width: $width-tablet - 1) {
  .header__wrapper {
    height: auto;
  }

  .header__background {
    position: unset;
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .header__top {
    margin-bottom: 22rem;
  }
}
